// CSS RESET
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

// Variables
$black: rgb(0, 23, 31);
$menu-background: rgb(194, 194, 194);
$mintbean-dark-teal: rgb(0, 212, 169);
$mintbean-mint: rgb(94, 244, 214);
$white: white;

// Drawing Menu
.menu {
    position: absolute;
    top: 0;
    left: 0px;
    box-shadow: 2px 0 10px 1px $menu-background;
    transition: transform 0.5s ease;
}

.draw-row {
    position: relative;
    width: 50px;
    height: 100vh;
    // background-color: $mintbean-mint;
    z-index: 100;
    transition: transform 0.5s ease;

    .draw-column {
        overflow: hidden;
        hr {
            height: 1.5px;
            margin: 10px;
            background-color: $black !important ;
        }
        button {
            width: 50px;
            height: 50px;
            background-color: $white;
            &:hover {
                border: 1px outset $mintbean-dark-teal;
                background-color: $mintbean-mint;
            }
            img {
                width: 24px;
                height: 24px;
                margin: 5px 8px;
            }
        }
        label {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        input[type="color" i] {
            width: 50px !important;
            height: 50px !important;
            padding: 0;
            border: 2px outset $mintbean-dark-teal;
        }

        #clear-btn {
            position: relative;
            color: $black;
            background-color: $mintbean-dark-teal;
            border: none;
            bottom: 0;
            left: 0;
            &:hover {
                color: $white;
                background-color: $black;
                border: 2px outset $mintbean-dark-teal;
            }
        }
    }
}

.close {
    transform: translateX(-50px);
}

#toggle-btn {
    position: absolute;
    left: 50px;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    z-index: 1;
    transition: transform 0.5s ease;
    img {
        width: 24px;
        height: 24px;
        fill: white;
    }
}

.save-img {
    width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    cursor: crosshair;
    box-sizing: default;
}
