/* CSS RESET */
$red: red;
$menu-background: rgb(194, 194, 194);
$btn-background: rgb(228, 228, 228);
$btn-hover-background: rgba(173, 216, 230, 0.5);
$warning: yellow;
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50px;
}

.draw-row {
    position: relative;
    width: 50px;
    height: 100vh;
    background-color: $menu-background;
    z-index: 1000;

    .draw-column {
        button {
            width: 50px;
            height: 50px;
            background-color: $btn-background;
            &:hover {
                border: 1px solid black;
                background-color: $btn-hover-background;
            }
            img {
                width: 24px;
                height: 24px;
                margin: 5px 8px;
            }
        }

        input[type="color" i] {
            width: 50px !important;
            height: 50px !important;
            cursor: crosshair;
            padding: 0;
            &:focus {
                cursor: crosshair;
            }
        }

        #clear-btn {
            position: absolute;
            color: $warning;
            background-color: black;
            border: none;
            bottom: 0;
            left: 0;
            &:hover {
                color: white;
                background-color: $red;
                border: 1px solid white;
            }
        }
    }
}

#toggle-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    z-index: 1;
    img {
        width: 24px;
        height: 24px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
