/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand {
  margin: 0px 15px 0px 15px !important;
}

.navbar-brand #logo {
  width: 100px;
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #00d4a9;
}

.btn-primary {
  background-color: #00d4a9;
  border: none;
  color: #00171f;
}

.btn-primary:hover {
  background-color: #5ef4d6;
  color: #00171f;
  border: none;
}

.btn-primary:focus, .btn-primary:active {
  border: none;
  color: #00171f;
  background-color: #5ef4d6;
  -webkit-box-shadow: 0 0 0 0.25rem #00d4a9;
          box-shadow: 0 0 0 0.25rem #00d4a9;
}

.hero p {
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 500;
}

.card {
  outline: none;
  border: none;
  border: 1px solid #00d4a9;
  cursor: pointer;
  min-height: 400px;
  -webkit-transition: -webkit-box-shadow 250ms ease-in;
  transition: -webkit-box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in, -webkit-box-shadow 250ms ease-in;
}

.card:hover {
  -webkit-box-shadow: 2px 2px 10px 1px #00d4a9;
          box-shadow: 2px 2px 10px 1px #00d4a9;
  border: 1px outset #00d4a9;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.max-width {
  max-width: 400px;
}

.toggle-btn {
  width: 50px;
  height: 50px;
}
