/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

$mintbean-dark-teal: rgb(0, 212, 169);
$mintbean-mint: rgb(94, 244, 214);
$white: white;
$black: rgb(0, 23, 31);

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    margin: 0px 15px 0px 15px !important;
    #logo {
        width: 100px;
        margin: 0;
    }
}
.navbar-dark {
    .navbar-nav {
        .nav-link {
            &:hover {
                color: $mintbean-dark-teal;
            }
        }
    }
}

.btn-primary {
    background-color: $mintbean-dark-teal;
    border: none;
    color: $black;
    &:hover {
        background-color: $mintbean-mint;
        color: $black;
        border: none;
    }
    &:focus,
    &:active {
        border: none;
        color: $black;
        background-color: $mintbean-mint;
        box-shadow: 0 0 0 0.25rem $mintbean-dark-teal;
    }
}
.hero {
    background-image: url(/media/images/hero-bg.jpg);
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
    p {
        line-height: 1.7;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
.card {
    border: none;
    border: 1px solid $mintbean-dark-teal;
    min-height: 400px;
    max-width: 400px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 2px 2px rgba(255, 255, 255, 0.23);
    transition: box-shadow 250ms ease-in;
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 212, 169, 0.25), 0 5px 5px rgba(0, 212, 169, 0.22);
        transform: translateY(-10px);
        transition: transform 700ms ease;
    }
}

strong {
    color: $mintbean-dark-teal;
}

#about {
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
}

#developer {
    .image-container {
        width: 100%;
        img {
            width: 100%;
            object-fit: contain;
            border-radius: 50%;
        }
    }
    span {
        color: $mintbean-dark-teal;
    }
    a {
        padding: 0px 10px 0px 10px;
        .bi {
            color: white;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: $mintbean-dark-teal;
            }
        }
    }
}
