/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand {
  margin: 0px 15px 0px 15px !important;
}

.navbar-brand #logo {
  width: 100px;
  margin: 0;
}

.navbar-dark {
  border-bottom: 1px solid #00d4a9;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #00d4a9;
}

.btn-primary {
  background-color: #00d4a9;
  border: none;
  color: #00171f;
}

.btn-primary:hover {
  background-color: #5ef4d6;
  color: #00171f;
  border: none;
}

.btn-primary:focus, .btn-primary:active {
  border: none;
  color: #00171f;
  background-color: #5ef4d6;
  -webkit-box-shadow: 0 0 0 0.25rem #00d4a9;
          box-shadow: 0 0 0 0.25rem #00d4a9;
}

.hero {
  background-image: url(/media/images/hero-bg.jpg);
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero p {
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 500;
}

.card {
  border: none;
  border: 1px solid #00d4a9;
  min-height: 400px;
  max-width: 400px;
  -webkit-box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 2px 2px rgba(255, 255, 255, 0.23);
          box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 2px 2px rgba(255, 255, 255, 0.23);
  -webkit-transition: -webkit-box-shadow 250ms ease-in;
  transition: -webkit-box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in, -webkit-box-shadow 250ms ease-in;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 212, 169, 0.25), 0 5px 5px rgba(0, 212, 169, 0.22);
          box-shadow: 0 14px 28px rgba(0, 212, 169, 0.25), 0 5px 5px rgba(0, 212, 169, 0.22);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

strong {
  color: #00d4a9;
}

#about ul {
  list-style: none;
  padding: 0;
}

#about a {
  text-decoration: none;
}

#developer .image-container {
  width: 100%;
}

#developer .image-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

#developer span {
  color: #00d4a9;
}

#developer a {
  padding: 0px 10px 0px 10px;
}

#developer a .bi {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#developer a .bi:hover {
  color: #00d4a9;
}
