html{
    scroll-behavior:smooth;
}
.showcase p{
    line-height:1.7;
    font-size:1.2rem;
    font-weight:500;
}
.card{
    outline:none;
    border:none;
    box-shadow:inset 0 0 3px 5px #ccc;
    cursor: pointer;
    transition:box-shadow 250ms ease-in;
}
.card:hover{
    box-shadow:inset 0 0 3px 5px crimson;
}
.max-width{
    max-width:400px;
    
}